/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Dialog */
/* Normal styles for the modal */
.myModal {
  display: none;
  text-align: center;
}

.myModal .title {
  text-align: center;
  font-size: 150%;
}
 
.myModal .newRoomMessage {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 70%;
  font-size: 150%;
  text-align: center;
}

.myModal #closeModal {
  text-align: center;
}

div.overdiv { filter: alpha(opacity=75);
                      -moz-opacity: .75;
                      opacity: .75;
                      background-color: #666666;
                      position: absolute;
                      top: 0px;
                      left: 0px;
                      width: 100%; height: 100%; }

div.square { position: absolute;
             top: 40%;
             left: 40%;
             background-color: Menu;
             border: #f9f9f9;
             height: 200px;
             width: 300px; 
             border-radius:5px;
            box-shadow:0 3px 7px rgba(0,0,0,.25);
            -moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
            -webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
          }

div.square div.msg { color: #3e6bc2;
                     left: 50%;
                     font-size: 2em;
                     text-align: center;
                      }

/* Login Page */

.login.page {
  background-color: #0aa;
}

.login.page .form {
  text-align: center;
}


.login.page #nameFrom {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  top: 40%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 80%;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Room page */
#roomPage {
  display: none;
}

.login.page #roomForm {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  top: 40%;
  width: 100%;
}

#roomSelect{
  font-size: 2em;
  width: 30%;
}

/***FIRST STYLE THE BUTTON***/
.room.btn{
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  padding:5px 25px; /*add some padding to the inside of the button*/
  background:#35b128; /*the colour of the button*/
  border:1px solid #33842a; /*required or the default border for the browser will appear*/
  /*give the button curved corners, alter the size as required*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*give the button a drop shadow*/
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  /*style the text*/
  color:#f3f3f3;
  font-size:1.1em;
}

/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
.room.btn:hover, .room.btn:focus{
  background-color :#399630; /*make the background a little darker*/
  /*reduce the drop shadow size to give a pushed button effect*/
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

/* Chat page */
.chat.page {
  display: none;
  width: 100%;
  height: 100%;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
